---
pagination:
  data: memes
  size: 1
  alias: meme
permalink: "memes/{{ meme.slug }}/"
layout: page.njk
---
<nav>
  <a href="/">Kaunitz Life</a>
  / am meme
</nav>
<main class="meme-page">
  <h1>{{meme.title}}</h1>
  {% image meme.image,
  meme.altText %}
</main>